body {
  background: #000000;
  color: white;
  overflow: hidden;
}
#slide_img {
  height: 25rem;
  width: 45rem;
  object-fit: cover;
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.container {
  text-align: center;
  margin-top: 5rem;
}
#left {
  color: white;
  font-size: 1.9rem;
  border: 1px solid black;
  padding: 0px 15px;
  border-radius: 2px;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}
#right {
  background-color: transparent;
  color: white;
  font-size: 1.9rem;
  border: 1px solid black;
  padding: 0px 15px;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
#right:hover {
  background: #0000006e;
}
#left:hover {
  background: #0000006e;
}
.arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 50%;
  left: 50%;
  gap: 37rem;
  right: 50%;
  z-index: 33;
}
.container {
  position: absolute;
  height: 25rem;
  width: 50rem;
  right: 20%;
  display: flex;
  justify-content: right;
  align-items: center;
  width: 45rem;
  overflow: hidden;
  box-shadow: 0rem 0rem 6px white;
  border-radius: 9px;
}

.dot {
  z-index: 99;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #717171;
  border-radius: 50%;
}

.dots {
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 5.8rem;
  display: flex;
  align-items: center;
  width: 8rem;
  gap: 0.1rem;
}

.active {
  background-color: #bbb;
  transition: background-color 0.3s ease-in-out;
}
